@model GOLD.CustomerDomain.MVC.Models.CustomerSearchCriteria

@{
    var txid = ViewBag.txid + "/";
    bool showSwitchToAdvanced = ViewBag.ShowSwitchToAdvanced;
    bool showBackButton = ViewBag.ShowBackButton;
    string backButtonText = ViewBag.BackButtonText;
    string searchButtonText = ViewBag.SearchButtonText;
}

@if (showSwitchToAdvanced)
{@Html.ActionLink("Switch to Advanced Search", "SwitchToAdvancedSearch", new { txid = txid })}

<hr />

@*<script>
        $(window).unload(
            function () {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SaveSearchCriteria", "Customer",new {uxTaskId = uxTaskId}))",
                    data: $("form").serialize()
                });
            }
        )
    </script>*@

<div class="row">
    <div class="col-md-6">

        @using (Html.BeginForm()) // "CaptureSearchCriteria","Customer", new { uxTaskId = uxTaskId }))
        {
            @*@Html.AntiForgeryToken()*@

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (showBackButton)
                {
                    @Html.ActionLink(backButtonText, "Back", "Customer", new { txid = txid }, new { @class = "btn btn-danger" })
                    <span>&nbsp; &nbsp;</span>
                }
                <input type="submit" value="@searchButtonText" class="btn btn-success" />
                <br />
                <br />
                <br />
                @*@Html.ActionLink("Clear fields", "ResetSearchCriteria", new { uxTaskId = uxTaskId }, new { @class = "btn btn-warning" })*@


            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



@*@model GOLD.CustomerDomain.MVC.Models.CustomerSearchCriteria

    @{
        ViewBag.Title = "UxCustomerSearchCriteria";
    }

    <h2>UxCustomerSearchCriteria</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>CustomerSearchCriteria</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
