@model GOLD.CustomerDomain.MVC.ViewModels.UxPreviewCustomerViewModel


@{
    if (Model.PreviewDifferentCustomer)
    {
        @Html.ActionLink("Preview a different customer", "ResetCustomerContextInput", new { txid = Model.txid })
    }
}

@if (Model.ShowBackButton && Model.BackButtonAsLink)
{
    @:&nbsp; &nbsp;
    @Html.ActionLink(Model.BackButtonText, "Back", "Customer", new { txid = Model.txid }, null)
}


<div>
    <div class="row">
        <div class="col-md-6">


            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Customer.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Customer.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Customer.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Customer.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Customer.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Customer.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Customer.DOB)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Customer.DOB)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Customer.NINO)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Customer.NINO)
                </dd>

            </dl>

            @if (Model.ShowBackButton && !Model.BackButtonAsLink)
            {
                {
                    @Html.ActionLink(Model.BackButtonText, "Back", "Customer", new { txid = Model.txid }, new { @class = "btn btn-danger" })
                    @:&nbsp; &nbsp;
                }
            }

            @Html.ActionLink(Model.DoneButtonText, "UxPreviewCustomer_Done", "Customer", new { txid = Model.txid }, new { @class = "btn btn-success" })

        </div>

        <div class="col-md-6">
        </div>

    </div>

</div>
